<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modifier</title>
</head>

<body>
    <div id="app">
        <form>
            <!-- Modifier Lazy -->
            <input v-model.lazy="msg">
            <p>{{ msg }}</p>

            <!-- Modifier Number -->
            <input v-model.number="age" type="number">
            <p>{{ age }}</p>

            <!-- Modifier Trim -->
            <input v-model.trim="msg">
            <p>{{ msg }}</p>
        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                msg: '',
                age: null
            }
        })
    </script>
</body>

</html>